<div class="card card-login mx-auto mt-5">
    <div class="card-header text-center">Coinssh</div>
    <div class="card-body">
        <%= if (errors) { %>
        <%= for (key, val) in errors { %>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <%= val %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <% } %>
        <% } %>
        <%= form_for(user, {action: adminLoginPath(), method: "POST"}) { %>
        <%= f.InputTag("Email", {autofocus: true}) %>
        <%= f.InputTag("Password", {type: "password"}) %>
        <button type="submit" class="btn btn-success btn-block" role="button">Login</button>
        <% } %>
    </div>
</div>