<div class="card card-login mx-auto mt-5">
    <div class="card-header text-center">Coinssh</div>
    <div class="card-body">
        <%= if (loginErrors) { %>
        <%= for (key, val) in loginErrors { %>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <%= val %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <% } %>
        <% } %>
        <%= form_for(user, {action: adminLoginPath(), method: "POST"}) { %>
        <%= f.InputTag("Email", {class: "form-control-lg", autofocus: true, placeholder: "Email"}) %>
        <%= f.InputTag("Password", {class: "form-control-lg", type: "password", placeholder: "Password"}) %>
        <div class="form-group">
            <div class="g-recaptcha" data-sitekey='<%= env("RECAPTCHA_SITE_KEY", "") %>'></div>
        </div>
        <button type="submit" class="btn btn-success btn-lg btn-block" role="button">Login</button>
        <% } %>
    </div>
</div>